src/main/resources/wsdls/SomeService_v1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://org.soapservice/SomeService/v1"
                  xmlns="http://org.soapservice/SomeService/v1"
                  targetNamespace="http://org.soapservice/SomeService/v1" name="SomeService">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://org.soapservice/SomeService/v1"
                    xmlns="http://org.soapservice/SomeService/v1"
                    targetNamespace="http://org.soapservice/SomeService/v1" elementFormDefault="qualified"
                    version="1.0">
            <xsd:complexType name="businessMethodResponseType">
                <xsd:sequence>
                    <xsd:element type="xsd:string" name="payload" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="businessMethodRequestType">
                <xsd:sequence>
                    <xsd:element type="xsd:string" name="valueCode" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="BusinessMethodRequestMsg" type="tns:businessMethodRequestType"/>
            <xsd:element name="BusinessMethodResponseMsg" type="tns:businessMethodResponseType"/>

        </xsd:schema>


    </wsdl:types>
    <wsdl:message name="someRequest">
        <wsdl:part name="parameters" element="tns:BusinessMethodRequestMsg"/>
    </wsdl:message>
    <wsdl:message name="someResponse">
        <wsdl:part name="parameters" element="tns:BusinessMethodResponseMsg"/>
    </wsdl:message>
    <wsdl:portType name="SomeServicePort">
        <wsdl:operation name="businessMethod">
            <wsdl:input name="request" message="someRequest"/>
            <wsdl:output name="response" message="someResponse"/>
        </wsdl:operation>

    </wsdl:portType>
    <wsdl:binding name="SomeServiceSoapBinding" type="SomeServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="businessMethod">
            <soap:operation soapAction="./businessMethod" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SomeService">
        <wsdl:port name="SomeServicePort" binding="SomeServiceSoapBinding">
            <soap:address location="http://org.soapservice/SomeService/v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
